


.legal-btn-color {
    background-color: #B68C5A;
    color: white;
}

.legal-btn-color:hover{
    background-color: rgba(182, 141, 90, 0.8);
    color: white;
}


.card-logo{
    width: 15%;
}

.legal-faq-bg {
    background-color: rgba(243, 243, 243, 1);
}